:root button {
  font-family: Nunito, system-ui, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.gameboard {
    border: 1px solid rgb(226, 226, 226);

    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.die {
    border: 1px solid rgba(0, 0, 0, 0.37);
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
}
.held {
    background-color: lightgreen;
}
.roll-dice-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
}
.won-message{
    font-size: 24px;
    color: green;
    margin-top: 20px;
}